@import url(components/menu.css);
@import url(components/footer.css);
@import url(components/divSection.css);
@import url(components/buttonLink.css);

@import url(/css/normaliza.css);
@import url(/css/animation.css);
@import url(/css/variables.css);

body {
  overflow-x:hidden !important;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 28px;
  line-height: 55px;
}

.left {
  justify-content: flex-end;
  margin: 0 0 0 auto;
}
