body {
  background: var(--bg-secondary-color);
}
nav {
  position: fixed;
  background: var(--bg-primary-color);
  width: 100vw;
  padding-left: 20px;
}

main {
  width: 80%;
  background: var(--bg-secondary-color);
  display: flex;
  height: fit-content;
  justify-content: center;
  margin: 0 auto;
}

section {
  width: 100vw;
  background: var(--bg-secondary-color);
  display: flex;
  align-content: flex-start;
  height: fit-content;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
}

.blockProjects {
  width: 24vw;
  height: 300px;
  background: var(--light-purple-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%; 
}

.blockProjects img {
  height: 80%;
  padding: 20px;
}

.blockProjects a {
  margin-top: 2vh;
  height: 18%;
  width: auto;
  background: var(--text-primary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: var(--text-secondary-color)
}

@media only screen and (max-width: 500px) {
  .projects_list {
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
  }

  .projects_list .blockProjects {
    width: 100%;
  }
}